PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=xzR2s0NQEKW_FoyoWwCNJcdak7AQFttg

DB_PORT=5432
MP_DEV_TOKEN=some_token
MP_PROD_TOKEN=some_token

MONGO_URL=mongodb://mongo:27017
MONGO_PORT=27017

REDIS_HOST=redis
REDIS_PORT=6379

CLIENT_ID=
CLIENT_SECRET=
MP_ACCESS_TOKEN=
PUBLIC_KEY=

# Mail Service
FROM_MAIL=contato@connectionrh.com.br

# Storage
STORAGE_DRIVER=disk


# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

SENTRY_DSN=

CHANGEPASS_VALID_TIME=30

DB_CONNECTION=pg
DB_PASSWORD=ecommerce
DB_HOST=localhost
DB_USER=ecommerce
DB_NAME=ecommerce
CACHE_VIEWS=
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
SES_ACCESS_KEY=<aws-access-key>
SES_ACCESS_SECRET=<aws-secret>
SES_REGION=us-east-1
MAILGUN_API_KEY=<mailgun-api-key>
SPARKPOST_API_KEY=<sparkpost-api-key>